/*Global CSS*/
html{
    scroll-behavior: smooth;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown-menu{
    margin-top: 0;
    color: black;
}



.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

a {
    text-decoration: none;
}
a:link, a:visited {
    color: black;
}
a:hover {
    color: #EDBB99;
    text-decoration: none;
}

.seemore-link{
    text-decoration: none;
}
.seemore-link:hover{
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    .btn-bookAppointment{
        padding-top: 0em;
    }
    
}

/*Global CSS*/

/*Header CSS*/

.header-wrapper{
    background: #FFF;
}

.header-details{
    padding-top: 10px;

    width: 100%;
    padding: 1rem 0;
    top: 0;
    background: #FFF;
    z-index: 9;
    position: sticky;
}

.headerTab{
    padding-top: 40px;
}

.hair-services-details{
    font-size: 20px;
}

.header-tab-wrapper{
    font-size: 3vw;
}




/*Header CSS*/

/*Body CSS*/

.home-intro{
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    line-height: 1.2;
}

.services-details{
    background-color: #E6E6E6;
    padding-top: 25px;
}

.hair-services-wrapper{
    font-family: 'Playfair Display', serif;
}

.hair-services{
    font-size: 25px;
}

.home-details{
    background-color: #E6E6E6;
    padding-top: 25px;
}




/*Body CSS*/

/*Footer CSS*/
.footer{
    background: #FFF;
    padding-top: 3rem;
}

.footer-details{
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    margin-top: 1rem;
}

.phoneLink{
    display: inline-flex;
    flex-wrap: wrap;
    
}

.logo{
    width: 100px;
    height: 75px;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto; 
}

.logo a{
    width: 40px;
    height: 40px;
}


/*Footer CSS*/


/*Modal CSS*/

.modal-dialog{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}

/*Modal CSS*/


/*Button CSS*/

.btn{
    background-color: #F6DDCC;
}

.modal-footer .btn :hover{
    background: #F6DDCC;
}

.btn-bookAppointment{
    padding-top: 2em;
    margin-bottom: 50px;
}

/*Button CSS*/
